// --------------------------------

// Custom Style - Your bespoke style

// --------------------------------

@use 'custom-style/colors';
@use 'custom-style/spacing';
@use 'custom-style/shared-styles';
@use 'custom-style/typography';
@use 'custom-style/icons';
@use 'custom-style/buttons';
@use 'custom-style/forms';
@use 'custom-style/util';
@use 'custom-style/fonts';

/*! purgecss start ignore */

$color-theme-blue: #53abc8;
$color-theme-lightblue: #e8f4f6;
$color-theme-lightyellow: #f5e9ca;
$color-theme-lightgray: #eee;
$color-theme-green: #b3cd44;


a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  color: $color-theme-blue;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  line-height: 1.5em;
  color: hsla(var(--color-contrast-medium-h),
  var(--color-contrast-medium-s),
  var(--color-contrast-medium-l),
  var(--color-o, 1));
  font-weight: 100;
}



// nav

.header__logo a {

  text-transform: uppercase;
  color: #777;
  letter-spacing: 3px;

  b { font-weight: 900; }
  span {
    font-size: .5em;
    letter-spacing: 1px;
    margin-left: 3px;
  }

}

nav {

  .header__item {

    a {
      color: #777;
      text-transform: uppercase;
      font-size: .9rem;
      font-weight: 900;
    }

    a.btn { color: #fff; }

  }

}

.header__nav--is-visible .header__nav--btn { margin-top: 13px; }

.bg-transparent nav:not(.header__nav--is-visible) .header__item a { color: #fff; }
.bg-transparent:not(.header--expanded) .header__logo a { color: #fff !important; }


.hero--about {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  @media screen and (max-width: 500px) {
    background-image: url("/assets/img/bg-pen-fade.jpg") !important;
    background-position: 40px 0px;
  }
}


.intro {
  h1, h3 { color: #fff; }
  h3 { font-weight: 100; }

  background-color: #000;

  .hero-video-bg__video {
      opacity: .8;
  }

}


.row-brands {

  .row-brands-arrow {
    width: 100px;
    margin-left: 100px;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  /*.row-brands-3d img { background-color: $color-theme-lightblue; }
  .row-brands-pika img { background-color: hsl(43deg 68% 95%); }
  .row-brands-scrib img { background-color: $color-theme-lightgray; } */

  @media screen and (max-width: 500px) {

    text-align: center;
    h2 {
      margin-bottom: none;
      br {
        display: none;
      }
    }

  }
}


// brands

.hiw-list__item {

  .hiw-logo {
    max-width: 200px;
    padding-bottom: 25px;
    margin: 0;

    @media screen and (max-width: 500px) {
      max-width: 150px;
    }
  }

}



// contact bar

.contact-pika {

  width: 90%;

  @media screen and (max-width: 500px) {
    width: 50%;
  }

}

.contact-v3 .hidden { display: none; }
.contact-v3 .form-label {
  color: $color-theme-blue;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 10px;
}

.contact-bar {

  font-weight: 100;
  color: hsl(195deg, 52%, 90%);
  line-height: 1.3em;

  @media screen and (min-width: 500px) {
    font-size: 0.8em;
    line-height: 1.3em;
  }

  .address-block {
    margin-bottom: 45px;
  }

  h5 {
    font-weight: 900;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: table;
    position: relative;
    left: -9px;
    background-color: hsl(195deg 52% 50%);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: .9em;
  }

  a {
    color: #fff;
    &:hover {

    }
  }

}

.brand-box {

  &.brand-box--3d {
    background-image: url("/assets/img/bg-3d-pen.jpg") !important;
  }
  &.brand-box--pika {
    background-image: url("/assets/img/bg-pika.jpg") !important;
  }
  &.brand-box--scrib {
    background-image: url("/assets/img/bg-scrib.jpg") !important;
    background-position: 90% 100px !important;
  }

  background-repeat: no-repeat !important;
  background-position: 600px 0 !important;
  background-size: 550px !important;

  .shadow-md {
    border-radius: 30px;
  }

  @media screen and (min-width: 500px) {
    .scroll-fx {
      --aspect-ratio: calc(24/9);
    }
  }

  @media screen and (max-width: 500px) {

    &.brand-box--3d {
      background-image: url("/assets/img/bg-3d-pen-fade.jpg") !important;
    }
    &.brand-box--pika {
      background-image: url("/assets/img/bg-pika-fade.jpg") !important;
    }
    &.brand-box--scrib {
      background-image: none !important;
      background-position: 210px -20px !important;
    }

    background-position: 31vw 0 !important;
    background-size: 360px !important;
    background-repeat: no-repeat !important;
    margin-bottom: 25px;

    .shadow-md {
      border-radius: 10px;
    }

  }

}

.brand-box-top {

  img {

    width: 250px;
    margin: 0;
    margin-bottom: 30px;

    @media screen and (max-width: 500px) {
      width: 170px;
      margin-bottom: 25px;
      margin-top: 20px !important;

      p { color: #000; }

    }
  }
}

.socials__btns {
  margin-top: 30px;
  li {
    list-style: none;
  }
}


.brand-type {
  background-color: #ffb300;
  display: table;
  padding: 2px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.85em;
  margin-bottom: 10px;
  position: relative;
  top: -15px;
  left: 60px;
}

.brand-box-copy {
  position: absolute;
  z-index: 2;
  width: 40%;
  color: #fff;
  padding: 3em;
  font-size: .85em;

  img {
    width: 170px;
    margin: 0;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
  }

  &.brand-box-copy--dark p { color: #333; }

  @media screen and (max-width: 500px) {
    width: 80%;
    padding: 1.5em;
    font-size: .8em;

    img {
      width: 90px;
      margin-bottom: 15px;
    }

  }

  @media screen and (max-width: 340px) {
    p { display: none; }
  }

}

.brand-box--pika .brand-box-copy img {
  width: 220px;
  @media screen and (max-width: 500px) {
    width: 140px;
  }
}


footer {

  color: #aaa;
  background: #eee;

  .footer-brand {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;

    b { font-weight: 800; }
    span { font-size: .6em; }

  }

  .footer-terms {
    display: none;
    margin-top: 15px;
    span {
      opacity: .3;
      position: relative;
      top: 2px;
    }

  }

  p, a {
    font-size: .7em;
    line-height: 1.4em;
  }

  p { color: #999; }
  a { font-weight: 800; }

}

.hero--patents p { color: #bbb; }

.hero--patents strong,
.hero--patents .leader { color: #777; }

.hero--patents .leader { font-size: 1.3em;}



.row-news {
  background-color: rgb(83, 171, 200);

  p { color: #fff; }

  b { font-weight: 600; }

  .read-more__btn {
    color: #cccc66;
    font-weight: 600; 
  }
}
